body {
	background-color: #A49893;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #000000;
}

#intro {
	text-align: center;
	height: 100%; /*use this so can click anywhere to go to next screen*/
	width: 100%;
	min-width: 1080px;

}

.instructionScreen {
	width: 75%;
	margin: auto;
	font-size: 100%;
	font-weight: 400;
	margin-top: 16px;
	margin-bottom: 8px;
}

#instructionsTitle {
	font-size: 150%;
	margin-top: 24px;
	font-weight: 700;
}

#instructionsSubTitle {
	font-size: 125%;
	margin-top: 12px;
	font-weight: 600;
}

#clickAnywhere {
	padding-bottom: 24px;
}

#headline {
	font-weight: 600;
}

#instructions {
	font-weight: 400;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

#container {
	text-align: center;
	margin-top: 0px;
	width: 100%;
	min-width: 1080px;
}

.spacer {
	width: 5%;
	/*height: 500px;*/
	display: inline-block;
}

canvas {
	background-color: #423F40;
	border: 1px solid black;
}

#canvas1 {
	/*float: left;*/
	display: inline-block;
}


#canvas2 {
	display: inline-block;
}

#clear {
	clear: both;
}

#player1 {
	width: 500px;
	font-weight: 400;
	display: inline-block;
	clear: left;
}

#player2 {
	width: 500px;
	font-weight: 400;
	display: inline-block;
}

#playerform {
	font-weight: 400;
}

.hide {
	display: none;
}

#winstate {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	margin: 0px;
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 20;
}

.endingwords {
	position: relative;
	top: 30%;
	color: white;
	font-size: 150%;
}

#rematchRequest {
	font-size: 95%;
}

#endofgamebuttons {
	margin-top: 20px;
}